<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>

    RewriteEngine On

    RewriteCond %{REQUEST_FILENAME} -d [OR]
    RewriteCond %{REQUEST_FILENAME} -f
    RewriteRule ^ ^$1 [N]

    RewriteCond %{REQUEST_URI} (\.\w+$) [NC]
    RewriteRule ^(.*)$ public/$1

    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php

# Disable index view
   Options -Indexes

  # block files which needs to be hidden // in here specify .example extension of the file
   <Files ~ "\.(env|json|config.js|md|gitignore|gitattributes|lock)$">
       Order allow,deny
       Deny from all
   </Files>

   # in here specify full file name sperator '|'
   <Files ~ "(artisan|worker.log)$">
       Order allow,deny
       Deny from all
   </Files>
</IfModule>
